Flask
Flask-Cors
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-Migrate
itsdangerous
python-slugify
Werkzeug
SQLAlchemy
email-validator
phonenumbers
pycountry
pytz
requests
firebase-admin
qrcode
apscheduler

googletrans
python-dotenv
psycopg2-binary

mysql-connector-python
flask
flask-sqlalchemy
flask-migrate
flask-login
flask-wtf
flask-mail
flask-cors
authlib
requests
pandas
googletrans==4.0.0-rc1
imgkit
pytz
psutil
pycountry
pyotp
qrcode
phonenumbers
user-agents
python-docx
werkzeug
sqlalchemy
wtforms
email-validator
gunicorn


# --- Database Driver (Muhiim u ah MySQL) ---
mysql-connector-python

# --- Deployment ---
gunicorn

user-agents
pyyaml
python-docx


# --- OAuth & Security ---
authlib
flask-wtf
itsdangerous
pyotp
pyyaml
user-agents

# --- Data & Documents ---
pandas
python-docx
imgkit
googletrans==4.0.0-rc1

# --- System & Utils ---
psutil
pycountry
pytz
qrcode
phonenumbers
requests